%p#notice= notice

.container
	.row
		.jumbotron 
			%h1.text-center Today's Capybara
		.container
			.row.centered
				.align-center
					#pictures
						= render @pictures
				%h6.pull-left.not_your_capybara <i>Not your capybara</i>? What kind of Capybara are you looking for?

				= form_tag(search_pictures_path, method: "get") do
					= text_field_tag :s, nil, :class => 'pull-left form-control search-bar', :placeholder => 'sad, awesome, etc...'
					= submit_tag "Search", class: 'pull-left btn btn-primary'