<p id="notice"><%= notice %></p>

<h1>Listing Capybaras</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.limit(10).each do |picture| %>
      <tr>
        <td><%= image_tag(picture.image) %></td>

        <td>
          <%= picture.score %>
          <%= link_to 'Like', score_picture_path(picture) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Get a New Capybara', root_path %>
